<ion-header class="box-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button text="" defaultHref="/"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">سپوږمۍ راډیو</ion-title>

    <button style=" background: none;background-color: none;box-shadow: none; margin-left:10px; color: #ffffff;;" slot="end" (click)="presentActionSheet()">
      <ion-badge color="light">
        <ion-icon color="danger" name="power"></ion-icon>
      </ion-badge>
    </button>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
